name: 'kitti'
data_split: 'trainval'
data_split_dir: 'training'
has_labels: True

cluster_split: 'train',
classes: ['Car']
num_clusters: [2]
bev_source: 'lidar'

kitti_utils_config {
    area_extents: [-40, 40, -5, 3, 0, 70]
    voxel_size: 0.1
    anchor_strides: [0.5, 0.5]

    bev_generator {
        slices {
            height_lo: -0.2
            height_hi: 2.3
            num_slices: 5
        }
    }

    mini_batch_config {
        density_threshold: 1

        rpn_config {
            iou_2d_thresholds {
                neg_iou_lo: 0.0
                neg_iou_hi: 0.3
                pos_iou_lo: 0.5
                pos_iou_hi: 1.0
            }
            # iou_3d_thresholds {
            #     neg_iou_lo: 0.0
            #     neg_iou_hi: 0.3
            #     pos_iou_lo: 0.4
            #     pos_iou_hi: 1.0
            # }

            mini_batch_size: 512
        }

        avod_config {
            iou_2d_thresholds {
                neg_iou_lo: 0.0
                neg_iou_hi: 0.55
                pos_iou_lo: 0.65
                pos_iou_hi: 1.0
            }

            mini_batch_size: 1024
        }
    }
}
