# Avod unittest configuration sample.

model_config {
    model_name: 'avod_model'
    checkpoint_name: 'unittest_pipeline'

    input_config {
        bev_depth: 6
        img_depth: 3
    }

    rpn_config {
        rpn_proposal_roi_crop_size: 3
        rpn_fusion_method: 'mean'
        rpn_train_nms_size: 1024
        rpn_test_nms_size: 300
        rpn_nms_iou_thresh: 0.8
    }

    avod_config {
        avod_proposal_roi_crop_size: 7
        avod_nms_size: 100
        avod_nms_iou_thresh: 0.01
        avod_box_representation: 'box_3d'
    }

    label_smoothing_epsilon: 0.001
    expand_proposals_xz: 0.0
    path_drop_probabilities: [0.5, 0.5]
    train_on_all_samples: False
    eval_all_samples: False

    layers_config {
        bev_feature_extractor {
            bev_vgg {
                vgg_conv1: [2, 32]
                vgg_conv2: [2, 64]
                vgg_conv3: [3, 128]
                vgg_conv4: [3, 256]
                upsampling_multiplier: 2

                l2_weight_decay: 0.0005
            }
        }
        img_feature_extractor {
            img_vgg {
                vgg_conv1: [2, 32]
                vgg_conv2: [2, 64]
                vgg_conv3: [3, 128]
                vgg_conv4: [3, 256]
                upsampling_multiplier: 2

                l2_weight_decay: 0.0005
            }
        }
        rpn_config {
            cls_fc6: 32
            cls_fc7: 32

            reg_fc6: 32
            reg_fc7: 32

            l2_weight_decay: 0.005
            keep_prob: 0.5
        }
        avod_config {
            basic_fc_layers {
                 num_layers: 2
                 layer_sizes: [64, 64]
                 l2_weight_decay: 0.005
                 keep_prob: 0.5
                 fusion_method: 'mean'  # 'mean' or 'concat'
            }
        }
    }
    # Loss function weights
    loss_config {
        cls_loss_weight: 5.0
        reg_loss_weight: 10.0
        ang_loss_weight: 10.0
    }
}

train_config {

    batch_size: 1

    optimizer {
        adam_optimizer {
            learning_rate {
                constant_learning_rate {
                    learning_rate: 0.0001
                }
            }
        }
    }

    overwrite_checkpoints: False

    max_checkpoints_to_keep: 10000
    max_iterations: 10
    checkpoint_interval: 1

    summary_interval: 10
    summary_histograms: False
    summary_img_images: False
    summary_bev_images: False
}


dataset_config {
    bev_source: 'lidar'

    kitti_utils_config {
        area_extents: [-40, 40, -5, 3, 0, 70]
        voxel_size: 0.1
        anchor_strides: [0.5, 0.5, 0.5, 0.5, 0.5, 0.5]
        density_threshold: 1

        bev_generator {
            slices {
                height_lo: -0.2
                height_hi: 2.3
                num_slices: 5
            }
        }

        mini_batch_config {
            density_threshold: 1

            rpn_config {
                iou_2d_thresholds {
                    neg_iou_lo: 0.0
                    neg_iou_hi: 0.3
                    pos_iou_lo: 0.5
                    pos_iou_hi: 1.0
                }
                # iou_3d_thresholds {
                #     neg_iou_lo: 0.001
                #     neg_iou_hi: 0.005
                #     pos_iou_lo: 0.3
                #     pos_iou_hi: 1.0
                # }

                mini_batch_size: 64
            }

            avod_config {
                iou_2d_thresholds {
                    neg_iou_lo: 0.0
                    neg_iou_hi: 0.55
                    pos_iou_lo: 0.65
                    pos_iou_hi: 1.0
                }

                mini_batch_size: 64
            }
        }
    }
}
